.back-btn {
  margin-left: 40px;
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  cursor: pointer;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.pie-chart{
  height: 250px;
}

.banner-img-container {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner-img {
  width: 100%;
}
.match-list {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  flex-wrap: wrap;
}
.team-match-container {
  min-height: 200vh;
  background-size: cover;
}
.CSK {
  background-image: linear-gradient(#f7db00, #ffffff33);
}
.KXP {
  background-image: linear-gradient(#d91c1f, #1e293b);
}
.RCB {
  background-image: linear-gradient(#a4261d, #1e293b);
}
.MI {
  background-image: linear-gradient(#13418b, #ffffff33);
}
.SH {
  background-image: linear-gradient(#f26d22, #a4261d);
}
.KKR {
  background-image: linear-gradient(#4f5db0, #a4261d);
}
.DC {
  background-image: linear-gradient(#13418b, #a4261d);
}
.RR {
  background-image: linear-gradient(#1151b9, #a744a2);
}
@media screen and (max-width: 576px) {
  .match-list {
    width: 80%;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .banner-img {
    width: 100%;
    height: 220px;
  }
}
